In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import geopandas as gpd

%matplotlib inline

In [28]:
shape_f = gpd.read_file("Data/Toronto Neighborhood Shapefiles/NEIGHBORHOODS_WGS84.shp")
df = pd.read_csv('Data/final.csv')

In [29]:
shape_f = shape_f.rename({'AREA_S_CD': "Area_ID",}, axis=1)
shape_f.head()

,Area_ID,AREA_NAME,geometry
0,097,Yonge-St.Clair (97),"POLYGON ((-79.39119 43.68108, -79.39141 43.680..."
1,027,York University Heights (27),"POLYGON ((-79.50529 43.75987, -79.50488 43.759..."
2,038,Lansing-Westgate (38),"POLYGON ((-79.43998 43.76156, -79.44004 43.761..."
3,031,Yorkdale-Glen Park (31),"POLYGON ((-79.43969 43.70561, -79.44011 43.705..."
4,016,Stonegate-Queensway (16),"POLYGON ((-79.49262 43.64744, -79.49277 43.647..."

In [31]:
shape_f['Area_ID'] = shape_f.Area_ID.astype(int)
shape_f.dtypes

Area_ID         int32
AREA_NAME      object
geometry     geometry
dtype: object

In [32]:
# Merging Dataframes
new_df = shape_f.merge(df, on='Area_ID')
new_df.head()

,Area_ID,AREA_NAME,geometry,Date,Time,infraction_code,Address,count,fine_sum,fine_descrp,longtitude,latitude
0,97,Yonge-St.Clair (97),"POLYGON ((-79.39119 43.68108, -79.39141 43.680...",2016-01-01,07:53:00,29,140 BALMORAL AVE,1,30.0,PARK PROHIBITED TIME NO PERMIT,-79.399490,43.684800
1,97,Yonge-St.Clair (97),"POLYGON ((-79.39119 43.68108, -79.39141 43.680...",2016-01-01,08:03:00,29,15 BIRCH AVE,1,30.0,PARK PROHIBITED TIME NO PERMIT,-79.392010,43.681100
2,97,Yonge-St.Clair (97),"POLYGON ((-79.39119 43.68108, -79.39141 43.680...",2016-01-01,07:19:00,29,2 DUGGAN AVE,1,30.0,PARK PROHIBITED TIME NO PERMIT,-79.397351,43.693867
3,97,Yonge-St.Clair (97),"POLYGON ((-79.39119 43.68108, -79.39141 43.680...",2016-01-01,07:26:00,29,2 GORMLEY AVE,1,30.0,PARK PROHIBITED TIME NO PERMIT,-79.397390,43.694740
4,97,Yonge-St.Clair (97),"POLYGON ((-79.39119 43.68108, -79.39141 43.680...",2016-01-01,07:17:00,29,20 DUGGAN AVE,1,30.0,PARK PROHIBITED TIME NO PERMIT,-79.398150,43.693780

In [33]:
new_df.isnull().sum()

Area_ID            0
AREA_NAME          0
geometry           0
Date               0
Time               0
infraction_code    0
Address            0
count              0
fine_sum           0
fine_descrp        0
longtitude         0
latitude           0
dtype: int64

In [34]:
new_df.shape

(516460, 12)

In [35]:
new_df.dtypes

Area_ID               int32
AREA_NAME            object
geometry           geometry
Date                 object
Time                 object
infraction_code       int64
Address              object
count                 int64
fine_sum            float64
fine_descrp          object
longtitude          float64
latitude            float64
dtype: object

In [36]:
# writing to shape file
new_df.to_file('Data/data.shp')

<ipython-input-36-ea8f7dcc5e2c>:2: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  new_df.to_file('Data/data.shp')